<!DOCTYPE html>
<html>
   <head>
      <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <meta charset="utf-8" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <title>Module 1: Questionnaire</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>       
    </head>
    <div class="header" >
      <h1>SEG3125 Questionnaire</h1>
      <p>The following is a questionnaire built for the first lab of SEG3125. <br>This lab reviews the UI elements of 
    <a style="color: #ffcccc;"href=https://theordinary.deciem.com/>The Ordinary from Deciem</a>, website that sells Deciem skincare products from the The Ordinary line.
    </p>
    </div>
   <body class="body">
      <section id="container">
         <form action="" style="align-content: center;">
               
                  <label class="question-text" for="text_question">1. What is your first impression of the The Ordinary's page for one of their cleansing products:</label>
                  <a style="padding-top:15px; padding-bottom: 5px;" href="https://theordinary.deciem.com/product/rdn-squalane-cleanser-50ml?redir=1"><img src="assets/homepage-the-ord.png"></a><br>
                 <input required style="width: 400px; margin-top: 10px; border-radius: 25px;"  id="name_question" name="participant_name" type="text"></input>
               
               <br>
           
               <br>
               
                  <label class="question-text">2. Do you find the following page of the The Ordinary website to be aesthetically pleasing: </label>
                  <a href="https://theordinary.deciem.com/vitcguide"> <img src='assets/question3-example.png'></a><br>
                  <br>
                     <div class="form-check form-check-inline">
                        <label style="color:aliceblue; padding-right:8px;" for="yes" >Yes</label>
                        <input class="form-check-input" name="helpful" type="radio" id="yes" value="Yes">
                     </div>
                     <div class="form-check form-check-inline">
                        <label style="color:aliceblue; padding-right:8px;" for="no" >No</label>
                        <input class="form-check-input" name="helpful" type="radio" id="no" value="No">
                     </div>
                
   
               <br><br>
             
                  <label class="question-text">3. Does the layout of the above product page for The Ordinary make you feel: </label>
                  <br>
  
                        
                  <div class="form-check form-check-inline">
                     <label style="color:aliceblue; padding-right:8px;" for="Focused" class="form-check-label selection_label">Focused</label>
                     <input class="form-check-input" name="appeal" type="checkbox" id="Focused" value="Focused">
                  </div>
                  <br>
                  <div class="form-check form-check-inline">
                     <label style="color:aliceblue; padding-right:8px;" for="Distracted" class="form-check-label selection_label">Distracted</label>
                     <input class="form-check-input" name="appeal" type="checkbox" id="Distracted" value="Distracted">
                  </div>
                  <br>
                  <div class="form-check form-check-inline">
                     <label style="color:aliceblue; padding-right:8px;" for="Neutral" class="form-check-label selection_label">Neutral</label>
                     <input class="form-check-input" name="appeal" type="checkbox" id="Neutral" value="Neutral">
                  </div>
                  <br>
               </div>
               <br>
              
                     
           
                  <label class="question-text" for="adjectives">4. Select an adjective that you feel describes the image (in question 2) of The Ordinary's Vitamin C product page: </label>
                  <select style="border-radius: 20px; width:400px; height:40px"id="adjectives" name="need_improvement">
                     <option selected disabled>Select one of the following</option>
                     <option value="Clear">Clear</option>
                     <option value="Consistent">Consistent</option>
                     <option value="Distinct">Distinct</option>
                     <option value="Patterned">Patterned</option>
                     <option value="Minimalist">Minimalist</option>
                     <option value="Hierarchical">Hierarchical</option>
                   </select>
               <br>
               <br>
           
                  <label class="question-text" for="impressed">5. How impressed are you by the The Ordinary website: </label>
                  <br>
                  <select style="border-radius: 20px; width:400px;" id="impressed" name="recommend_likelihood" class="custom-select">
                     <option selected disabled>Select one of the following</option>
                     <option value="Very impressed">Very impressed</option>
                     <option value="Impressed">Impressed</option>
                     <option value="No Opinion">No Opinion</option>
                     <option value="Unimpressed">Unimpressed</option>
                     <option value="Very unimpressed">Very unimpressed</option>
                  </select>
 <br>
               <br>

               <label class="question-text" for="text_question">Please indicate what school you study at along with any other comments you have about the User Interface of The Ordinary's online store:</label>
               <input id="school_question" class="form-control" name="school" type="text"></input>

               <br>
        
            <button style="background-color: #ffcccc; margin-top: 20px; font-size: large; cursor: pointer" id="submit" type="submit" class="btn btn-outline-dark">Submit</button>
         </form>
      </section>
      <script src="/assets/action.js"></script>
   </body>
   <br>
   <br>
   <div class="footer" style="color: aliceblue; text-align: center; padding-top: 20px; padding-bottom: 20px;">
      <footer>
        <i>
          Website designed by Kate Thornley for the class SEG3125
        </i>
      </footer>
    </div>
</html>