/* style sheet for SEG3125 module 1 lab: questionnaire */

.header {
  /* background-image: url(/images/question3-example.png); */
  color: rgb(227, 235, 235);
  font-size: 30px;
  font-family: "Alegreya Sans SC";
  text-align: center;
  padding-top: 40px;
}

title {
  justify-content: center;
}

.body {
  background-color: #001c1a;
  max-width: 900px;
  margin: auto;
  font-family: "Alegreya Sans SC";
}

.forms {
  justify-content: center;
  color: rgb(227, 235, 235);
}

.question-text {
  font-size: 20px;
  font-family: "Alegreya Sans SC";
  color: rgb(227, 235, 235);
}

a {
  color: #ffcccc;
  text-decoration: none;
}

p {
  color: rgb(227, 235, 235);
}

.footer {
  text-align: center;
  color: rgb(227, 235, 235);
}

img {
  max-height: fit-content;
  border-radius: 10px;
  text-align: center;
  max-width: 900px;
}

.submitButton {
  background-color: #00b9b2;
  border: none;
  color: #007471;
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin-top: 20px;
}

.likert li {
  float: left;
  list-style-type: none;
}

.submitBttn {
  border-radius: 10px;
}
