/* style sheet for SEG3125 module 1 lab: questionnaire */

.header {
  padding: 20px;
  text-align: center;
  /* background-image: url(/images/background-test.jpg); */
  color: rgb(227, 235, 235);
  font-size: 30px;
  font-family: Impact;
}

a {
  color: #007471;
  text-decoration: none;
}

.footer {
  text-align: center;
  color: rgb(227, 235, 235);
}
